@{
    ViewData["Title"] = "Trang đăng ký";
}

<div class="stuff" style="margin: 20px 0px 100px;">
    <div class="content-header container">
        <nav aria-label="breadcrumb" class="breadcrumb-des">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" class="breadcrumb-item-title">Trang chủ</a></li>
                <li class="breadcrumb-item active breadcrumb-item-des" aria-current="page">Đăng ký</li>
            </ol>
            <hr>
        </nav>
    </div>

</div>